@using EntityLayer.Concrete
@model List<WriterUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-outline-primary"> Verileri Göster </button>
        <button type="button" id="getadduser" class="btn btn-outline-info"> Kaydet </button>
    </div>

</div>

<h4 class="text-center">Yazar Listesi</h4>
<div class="p-2" id="listuser">
    buraya veriler gelecek
</div>

<br />
<div class="col-md-12">
    <input type="text" class="form-control" id="inpname" placeholder="Ad" />
    <br />
     <input type="text" class="form-control" id="inpsurname" placeholder="Soyad" />
     <br />
      <input type="text" class="form-control" id="inpusername" placeholder="Kullanıcı Adınız" />
      <br />
      <input type="text" class="form-control" id="inpmail" placeholder="Mail Adresi" />

</div>
@section Scripts{
<script>
    $("#btngetlistall").click(function() {
        $.ajax({
            contentType:"application/json",
            dataType:"json",
            type:"Get",
            url:"/WriterUser/ListUser/",

            success:function(funk){
                let users=jQuery.parseJSON(funk);
                console.log(users);
            }

        });
    });
</script>
}
<script src="~/lib/jquery/dist/jquery.js"></script>
