@using EntityLayer.Concrete
@model List<Feature>

<header>
  <div class="cover bg-light">
    <div class="container px-3">
      <div class="row">
        <div class="col-lg-6 p-2"><img class="img-fluid" src="~/Template/images/illustrations/hello3.svg" alt="hello"/></div>
        <div class="col-lg-6">
            @foreach(var item in Model){
          <div class="mt-5">
            <p class="lead text-uppercase mb-1">@item.Header!</p>
            <h1 class="intro-title marker" data-aos="fade-left" data-aos-delay="50">@item.Name</h1>
            <p class="lead fw-normal mt-3" data-aos="fade-up" data-aos-delay="100">@item.Title</p>
           @await Component.InvokeAsync("SocialMediaList")
            <div class="mt-3" data-aos="fade-up" data-aos-delay="200"><a class="btn btn-primary shadow-sm mt-1 hover-effect" href="#contact">Bana Ulaşın <i class="fas fa-arrow-right"></i></a></div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="wave-bg"></div>
</header>