  <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/index/">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SendMessage/">
                 <i class="ti-cloud menu-icon"></i>
              <span class="menu-title">Yeni Mesaj</span>
            </a>    
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/ReceiverMessage/">
                 <i class="ti-notepad menu-icon"></i>
              <span class="menu-title">Gelen Mesajlar</span>
            </a>    
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage/">
                 <i class="ti-agenda menu-icon"></i>
              <span class="menu-title">Giden Mesajlar</span>
            </a>    
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index/">
              <i class="ti-announcement menu-icon"></i>
              <span class="menu-title">Duyurular</span>   
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#icons">
              <i class="ti-microphone menu-icon"></i>
              <span class="menu-title">Profil</span> 
            </a>
          <li class="nav-item">
            <a class="nav-link" href="/writer/profile/Index/">
              <i class="ti-settings menu-icon"></i>
              <span class="menu-title">Ayarlar</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/writer/login/LogOut/">
              <i class="ti-power-off menu-icon"></i>
              <span class="menu-title">Çıkış Yap</span>
            </a>
          </li>
        </ul>
      </nav>