@model EntityLayer.Concrete.Announcement

@{
    ViewData["Title"] = "AnnouncementDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Duyuru Detayları</h1>
<br />
<form class="form-group">
    @Html.Label("ID")
    @Html.TextAreaFor(x=>x.ID, new {@class="form-control"})
    <br />
    @Html.Label("İçerik")
    @Html.TextAreaFor(x=>x.Content,10,3,new {@class="form-control"})
</form>


