@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using(Html.BeginForm("AddService","Service",FormMethod.Post))
{   <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">Hizmet Ekleme Paneli </p>
                <form class="forms-sample">
     <br />
   @Html.Label("Hizmet Başlığı")
   @Html.TextBoxFor(x=>x.Title, new { @class = "form-control"})
    <br />
    <label>Tarih Bilgisi</label>
   @Html.TextBoxFor(x=>x.ImageUrl, new { @class = "form-control"})
    <br />
     <label>Resim Yolu</label>
   @Html.TextBoxFor(x=>x.ImageUrl, new { @class = "form-control"})
    <br />
    
    <button class="btn btn-outline-info">Ekle</button>
        </form>
            </div>
        </div>
    </div>
}


