@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0">Hizmet Ekleme Sayfası</h3>
</div>


@using(Html.BeginForm("AddService","Service",FormMethod.Post))
{   
     <br />
   @Html.Label("Hizmet Başlığı")
   @Html.TextBoxFor(x=>x.Title, new { @class = "form-control"})
    <br />
    <label>Tarih Bilgisi</label>
   @Html.TextBoxFor(x=>x.ImageUrl, new { @class = "form-control"})
    <br />
     <label>Resim Yolu</label>
   @Html.TextBoxFor(x=>x.ImageUrl, new { @class = "form-control"})
    <br />
    
    <button class="btn btn-outline-info">Ekle</button>
}


