@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Hizmet Düzenleme Sayfası</h3>
</div>


@using(Html.BeginForm("EditService","Service",FormMethod.Post))
{   @Html.HiddenFor(x=>x.ServiceID)
     <br />
   @Html.Label("Hizmet Başlığı")   
   @Html.TextBoxFor(x=>x.Title, new { @class = "form-control"})
    <br />
     <label>Resim Yolu</label>
   @Html.TextBoxFor(x=>x.ImageUrl, new { @class = "form-control"})
    <br />
    
    <button class="btn btn-outline-success">Güncelle</button>
}

