@using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<!-- Card header -->
<div class="card-header border-0">
    <h3 class="mb-0">Hizmet Listesi Tablosu</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Başlık</th>
                <th scope="col">Sil</th>
                <th scope="col" class="sort" data-sort="completion">Düzenle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">

            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @item.ServiceID
                    </th>
                    <td class="budget">
                        @item.Title
                    </td>
                    <td><a href="/Service/DeleteService/@item.ServiceID" class="btn btn-outline-danger"> Sil </a></td>
                    <td><a href="/Service/EditService/@item.ServiceID" class="btn btn-outline-info"> Düzenle </a></td>

                </tr>
            }
        </tbody>
    </table>
    
    <a href="/Service/AddService/" class="btn btn-primary">Hizmet Ekle</a>
</div>
<!-- Card footer -->


