@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Deneyimler</h4>
                    @*<p class="card-description"> Deneyimler <code>Tablosu</code>
                    </p>*@
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Tarih</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                          </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model){
                          <tr>
                            <td>@item.ExperienceID</td>
                           <td>@item.Name</td>
                           <td>@item.Date</td>
                          <td> <a href="/Experience/DeleteExperience/@item.ExperienceID" class="btn btn-outline-danger">Sil</a></td>
                           <td> <a href="/Experience/EditExperience/@item.ExperienceID" class="btn btn-outline-success">Güncelle</a></td>
                            
                          </tr>
                          }
                          
                        </tbody>

                      </table>
                      <a href="/Experience/AddExperience/" class="btn btn-outline-info">Yeni Deneyim Ekle</a>
                    </div>
                  </div>
                </div>

              </div>