
@{
    Layout = null;
}

<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>
    @await Html.PartialAsync("/Views/Admin/PartialHead.cshtml");
<body>
  <!-- Sidenav -->-
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="~/argon-dashboard-master/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
        </a>
      </div>
       @await Html.PartialAsync("/Views/Admin/PartialSideBar.cshtml")
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
   @await Html.PartialAsync("/Views/Admin/PartialNavbar.cshtml")
    <!-- Header -->
    <!-- Header -->
   @await Html.PartialAsync("/Views/Admin/NavigationPartial.cshtml")
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
           @RenderBody()
        </div>
      </div>
      <!-- Footer -->
      <br />
      <br />
      @await Html.PartialAsync("/Views/Admin/PartialFooter.cshtml")
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  @await Html.PartialAsync("/Views/Admin/PartialScript.cshtml")
</body>
</html>